@use "./styles/styles.scss" as *;

.appbar {
  background: $white-smoke;
  align-self: start;
  height: 100%;
  z-index: 1;
  padding: 5px 0px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
