@use "../styles/styles.scss" as *;

.mainContainer {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h1 {
    text-align: center;

    @media (max-width: $breakpoint) {
      font-size: 1.5rem;
    }
  }

  @media (max-width: $breakpoint) {
    padding: 20px;
  }
}

.formLabel {
  font-family: inherit;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 100%;

  .cuneiforms {
    font-family: "CuneiformComposite", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 20px;
  }

  .translation {
    font-size: 1.5rem;
    margin: 0px 5px;
  }

  .analysisTable {
    tr > :nth-child(even) {
      background-color: $silver-setting;
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  gap: 20px;
}

.noWrap {
  white-space: nowrap;
  flex-shrink: 0;
}

.onlyMobile {
  @media (min-width: $breakpoint) {
    display: none;
  }
}

.onlyDesktop {
  @media (max-width: $breakpoint) {
    display: none;
  }
}
