@use "./styles.scss" as *;

.home {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-image: url("../assets/sumer-bg.png");
  background-size: cover;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-align: center;

  .section {
    box-sizing: border-box;
    width: 100%;
    padding: clamp(24px, 6vw, 80px);
    display: grid;
    place-items: center;
  }

  .intro,
  .contentPanel {
    box-sizing: border-box;
    width: min(800px, 100%);
    background-color: rgba($color: #2d3748, $alpha: 0.4);
    border-radius: 25px;
    padding: clamp(20px, 4vw, 40px);
    font-size: 1.2rem;
    backdrop-filter: blur(3px);
  }

  .contentPanel {
    h2 {
      margin-top: 0;
    }

    p {
      margin-bottom: 0;
    }

    .toolCard {
      height: 100%;
      display: flex;
      flex-direction: column;

      .toolCardContent {
        flex-grow: 1;
      }
    }
  }
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  @media (max-width: $break-point) {
    display: none;
  }
}

.buttonGroupMobile {
  display: none;

  @media (max-width: $break-point) {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
}
