@use "../styles/styles.scss" as *;

$container-width: 60%;
$container-padding: 5px;
$border-radius: 10px;

.keyboardContainer {
  height: 100%;
  width: 100vw;
  min-height: 0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 50px;

  h1 {
    width: 100%;
    text-align: center;

    @media (max-width: $breakpoint) {
      font-size: 1.5rem;
    }
  }

  //   .cuneiformDisplayContainer {
  //     width: $container-width;
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: space-between;
  //     align-items: flex-start;
  //     gap: 0px;
  //     padding: 0px;

  .cuneiformDisplay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // gap: 0px;
    // border: solid 1px $proton-red;
    // border-radius: $border-radius;
    min-height: 70px;
    width: calc(100% - 2 * #{$container-padding});
    overflow-y: auto;
    // background-color: white;
    padding: $container-padding;

    @media (max-width: $breakpoint) {
      flex-direction: column;
      align-items: flex-end;
      padding: 0px;
    }
  }

  .cuneiformDisplayButtons {
    $padding: 5px;
    height: calc(100% - 2 * #{$padding});
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: $padding;

    @media (max-width: $breakpoint) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: auto;
    }
  }
  //   }

  .phoneticDisplay {
    text-align: left;
    font-style: italic;
    min-height: 30px;
    // border: solid 1px $proton-red;
    // border-radius: $border-radius;
    // width: $container-width;
    // padding: $container-padding;
    // background-color: white;
  }

  //   .cuneiformSelectionContainer {
  //     width: $container-width;
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  //     gap: 0px;

  .cuneiformSelection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    // border: solid 1px $proton-red;
    // border-radius: $border-radius;
    // border-bottom-left-radius: 0px;
    // border-bottom-right-radius: 0px;
    // border-bottom: none;
    height: 70px;
    width: calc(100% - 2 * (15px - #{$container-padding}));
    overflow-x: auto;
    overflow-y: hidden;
    padding: $container-padding;
    margin: 0;
    background-color: transparent;

    .cuneiformSelectionItem {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $border-radius;
      border: solid 1px $proton-red;
      padding: $container-padding;
      background-color: $silver-setting;
      cursor: pointer;
      margin: 0;

      &[aria-selected="true"] {
        background-color: $proton-red;
        color: white;
      }
    }
  }

  .cuneiformSelectionInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    width: calc(100% - 2 * 15px);
    padding: $container-padding 15px;
    background-color: transparent;
    // border: solid 1px $proton-red;
    // border-radius: $border-radius;
    // border-top-left-radius: 0px;
    // border-top-right-radius: 0px;
    // border-top: none;
  }
  // }

  //   .controls {
  //     display: grid;
  //     grid-template-columns: repeat(3, 1fr);
  //     place-items: center;
  //     gap: 10px;
  //     width: $container-width;

  //     > :nth-child(2) {
  //       justify-self: stretch;
  //       width: 100%;
  //     }
  //   }

  //   .typingArea {
  //     width: $container-width;
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: center;
  //     align-items: center;

  //     input {
  //       width: 50%;
  //     }
  //   }

  @media (max-width: $breakpoint) {
    padding: 20px;
  }
}

.controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 10px;
  width: $container-width;
}

.refreshIcon {
  margin: 0px 10px;
  opacity: 0;
  color: $proton-red;

  &.active {
    animation: spin 1s linear infinite;
    opacity: 1;
  }
}

.howToUse {
  padding: 40px;

  ol li {
    margin-bottom: 10px;
  }

  @media (max-width: $breakpoint) {
    padding: 20px;
  }
}

.paper {
  width: $container-width;
  min-height: 70px;
  padding: 10px;

  @media (max-width: $breakpoint) {
    width: 100%;
  }
}

.onlyMobile {
  @media (min-width: ($breakpoint + 1px)) {
    display: none;
  }
}

.onlyDesktop {
  width: $container-width;

  @media (max-width: $breakpoint) {
    display: none;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
