// https://x.com/AlexCristache/status/1912143884999598114
$nyc-taxi: #f7b732;
$proton-red: #840804;
// https://x.com/AlexCristache/status/1913231043001454640
$white-smoke: #f5f5f5;
$silver-setting: #d8dadb;
$cereal-flake: #efd7ab;
$crustose-lichen: #c04e01;
$botanical-night: #12403c;
$dark-rift: #060b14;
